<!DOCTYPE html>
<h1> <%=@team.name%></h1>
<h2> Team Motto: <%=@team.motto %></h2>

<body>
  <% @heros.each do |hero| %>
    <h3>Hero Name: <%= hero[:name] %></h3>
    <h3>Hero Power: <%= hero[:power] %></h3>
    <h3>Hero Biography: <%= hero[:bio] %></h3>
  <% end %>
  

</body>


